<!DOCTYPE html>
<html lang="pt-br">
    
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Questionário Infância</title>
</head>

<body>
    <h1>Teste Pós Experimento</h1><br>
    <form action="#" method="POST">

        <p>
           Após o experimento, indique se você apresentou algum sinal ou sintoma abaixo:<br>
        </p>

        <!--Sintoma 1 -->
        <div class="sintoma">
            <label>
                <input type="checkbox" name="sintomaEnjoo" value="1">
                Náusea/ sensação de enjoo ou vontade de vomitar
            </label><br>
        </div> 

        <!--Sintoma 2 -->
        <div class="sintoma">
            <label>
                <input type="checkbox" name="sintomaEnjoo" value="2">
                Vômito
            </label><br>
        </div> 

        <!--Sintoma 3 -->
        <div class="sintoma">
            <label>
                <input type="checkbox" name="sintomaEnjoo" value="3">
                Tontura/sensação de desequilíbrio
            </label><br>
        </div> 

        <!--Sintoma 4 -->
        <div class="sintoma">
            <label>
                <input type="checkbox" name="sintomaEnjoo" value="4">
                Suor excessivo e frio
            </label><br>
        </div> 

        <!--Sintoma 5 -->
        <div class="sintoma">
            <label>
                <input type="checkbox" name="sintomaEnjoo" value="5">
                Palidez
            </label><br>
        </div> 

        <!--Sintoma 6 -->
        <div class="sintoma">
            <label>
                <input type="checkbox" name="sintomaEnjoo" value="6">
                Dor de cabeça
            </label><br>
        </div> 

        <!--Sintoma 7 -->
        <div class="sintoma">
            <label>
                <input type="checkbox" name="sintomaEnjoo" value="7">
                Sensação de cansaço ou necessidade de dormir
            </label><br>
        </div> 

        <!--Sintoma 8 -->
        <div class="sintoma">
            <label>
                <input type="checkbox" name="sintomaEnjoo" value="8">
                Bocejos frequentes
            </label><br>
        </div> 

        <!--Sintoma 9 -->
        <div class="sintoma">
            <label>
                <input type="checkbox" name="sintomaEnjoo" value="9">
                Hiperventilação/respiração rápida e profunda 
            </label><br>
        </div> 

        <!--Sintoma 10 -->
        <div class="sintoma">
            <p>Outros
            <label for="outros">
            <textarea id="outros" name="outros" rows="4" cols="50" placeholder="Digite seu comentário aqui..."></textarea>
        </label>
            <br>
            </p>
        </div> 

        <button type="submit">Enviar Respostas</button>

    </form>
</body>