<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Início - Formulário MSSQShort</title>
    <link rel="stylesheet" href="C:\Users\loren\Downloads\MSSQ-main\MSSQ-main\MSSQShort\static\css\styles.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>
<body >
    <header class="header">
        
        <div class="button_container">
            <a href="index.html" class="div_button">
                <span class="material-icons">home</span>
                <span class="texto_navbar">Login administrador</span>
            </a>
        </div>
    </header>

    <main style="background: 253,253,253;">

        <div class="container_logo">
            <img id="logo_topo" src="C:\Users\loren\Downloads\MSSQ-main\MSSQ-main\MSSQShort\login\templates\logotransparente.png" />
        </div>

        <div class="button_questionario">
        <a href="historia.html" class="div_button">
            <span class="material-icons">menu_book</span>
            <span class="texto_navbar">Começar questionário</span>
        </a>
         </div>


        <section id="introducao">
            <h1>Comparação da Motion Sickness em diferentes gravidades planetárias(?)</h1>
            <h1>O que é o MSSQSHORT</h1>
            <p id="texto_destaque">

            Esse é um site para a facilitar um estudo feito pela (...) e organizado pela (...) com o objetivo de identificar as diferentes reações humanas na gravidade da Terra,
            Lua e em Marte, e assim fazer um comparativo entre cada uma delas (?) 

            </p>
                
                
    </section>



    </main>



    <footer>

        
       
        
    </footer>

</body>
</html>
