<!DOCTYPE html>
<html lang="pt-br">
    
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Coleta de Dados Durante a Simulação</title>
</head>

<body>
    <h1>Medições Físicas e Sinais Vitais para Avaliação de Saúde</h1>

    <form action="#" method="POST">

        <p>Por favor, indique a altura(m) </p>
        Altura:<input type="text" name="idade"><br>

        <p> Por favor, indique a cintura abdominal (cm) </p>
        Cintura abdominal:<input type="text" name="cintura"><br>

        <p> Por favor, indique o peso (kg) </p>
        Peso:<input type="text" name="peso"><br>
       
        <p> Por favor, indique o IMC (kg/m2) </p>
        IMC:<input type="text" name="idade"><br>
        
        <p> Por favor, indique a pressão arterial (mmHg) </p>
        Pressão arterial:<input type="text" name="pressao"><br>

        <p> Por favor, indique a oximetria (%) </p>
        Oximetria:<input type="text" name="oximetria"><br>

        <p> Por favor, indique a frequência cardíaca (bpm) </p>
        Frequência cardíaca:<input type="text" name="bpm"><br><br>

        <button type="submit">Enviar Respostas</button>

    </form>

</body>