<!DOCTYPE html>
<html lang="pt-br">

<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Questionário infância e últimos anos</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" 
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="{% static 'resultados/css/resultados.css' %}">
    <script src="{% static 'resultados/js/resultados.js' %}"></script>
</head>

<body>
    
    <header class="header">
        <h1>Resultados Gerais da Simulação</h1>
    </header>

    <main role="main" class="content">
        <!-- Visão Geral do Experimento -->
        <div class="experiment-overview">
            <b><h2>Visão Geral do Experimento</h2></b>
            <div class="geral">
                <div>
                    <p><strong>Participantes Totais:</strong> 50</p>
                    <p><strong>Experimentos em Andamento:</strong> 3</p>
                    <p><strong>Aptos para viagem espacial:</strong> 10</p>
                    <p><strong>Última Atualização:</strong> 20/11/2024</p>
                </div>
            </div>
        </div>

        <!-- Dados Questionário 1: Infância -->
        <div class="questionnaire-1-childhood">
            <h3>Dados relacionados ao questionário 1 - Dados sobre a infância do Paciente</h3>
            <div class="table-responsive">
                <table class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th>ID do Participante</th>
                            <th>Idade</th>
                            <th>Sexo</th>
                            <th>Enjoo em Carros</th>
                            <th>Enjoo em Autocarros</th>
                            <th>Enjoo em Comboios</th>
                            <th>Enjoo em Aviões</th>
                            <th>Enjoo em Embarcações pequenas</th>
                            <th>Enjoo em Navios</th>
                            <th>Enjoo em Baloiços</th>
                            <th>Enjoo em Carroséis</th>
                            <th>Enjoo em Montanhas Russas</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>P001</td>
                            <td>72</td>
                            <td>Masculino</td>
                            <td>Moderado</td>
                            <td>Moderado</td>
                            <td>Moderado</td>
                            <td>Moderado</td>
                            <td>Moderado</td>
                            <td>Moderado</td>
                            <td>Moderado</td>
                            <td>Moderado</td>
                            <td>Moderado</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <!-- Dados Questionário 1: Últimos 10 Anos -->
        <div class="questionnaire-1-recent">
            <b><h3>Dados relacionados ao questionário 1 - Dados dos últimos 10 anos</h3></b>
            <div class="table-responsive">
                <table class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th>ID do Participante</th>
                            <th>Idade</th>
                            <th>Sexo</th>
                            <th>Enjoo em Carros</th>
                            <th>Enjoo em Autocarros</th>
                            <th>Enjoo em Comboios</th>
                            <th>Enjoo em Aviões</th>
                            <th>Enjoo em Embarcações pequenas</th>
                            <th>Enjoo em Navios</th>
                            <th>Enjoo em Baloiços</th>
                            <th>Enjoo em Carroséis</th>
                            <th>Enjoo em Montanhas Russas</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>P001</td>
                            <td>72</td>
                            <td>Masculino</td>
                            <td>Moderado</td>
                            <td>Moderado</td>
                            <td>Moderado</td>
                            <td>Moderado</td>
                            <td>Moderado</td>
                            <td>Moderado</td>
                            <td>Moderado</td>
                            <td>Moderado</td>
                            <td>Moderado</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <!-- Dados Questionário 3 -->
        <div class="questionnaire-3">
            <h3>Dados relacionados ao questionário 3</h3>
            <div class="table-responsive">
                <table class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th>ID do Participante</th>
                            <th>Náusea</th>
                            <th>Vômito</th>
                            <th>Tontura/Sensação de Desequilíbrio</th>
                            <th>Suor Excessivo</th>
                            <th>Palidez</th>
                            <th>Dor de Cabeça</th>
                            <th>Sensação de Cansaço</th>
                            <th>Bocejos Frequentes</th>
                            <th>Hiperventilação</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>P001</td>
                            <td>X</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            <td>X</td>
                            <td>-</td>
                            <td>-</td>
                            <td>X</td>
                            <td>X</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </main>

    <footer class="footer">
        <!-- Conteúdo do rodapé -->
    </footer>
</body>

</html>
