body, h1, h2, h3, p, ul, li, button, input {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
}

body {
    background-color: #AAC1F2;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

/* Cabeçalho */
.header {
    width: 100%;
    background-color: #04153B;
    text-align: center;
    padding: 20px 0;
    font-size: 35px;
    font-weight: 400;
    color: #AAC1F2;
}

/* Seções */
.section {
    display: none;
}

.section.is-active {
    display: block; /* Exibe a seção ativa com cor diferente */
}

/* Steps */
.steps ul {
    list-style: none; 
    padding: 0; 
    margin: 0; 
    display: flex;
    justify-content: center;
    background-color: #04153B;
    padding: 10px;
    border-radius: 5px;
}

.steps li {
    margin: 0 15px; 
    color: #AAC1F2;
    text-align: center;
}

.steps li.is-active {
    color: #2156c7;
}

/* Box do form */
.box {
    width: 100%;
    max-width: 700px;
    margin: 10px;
    padding: 20px;
    background-color: #04153B;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    color: #AAC1F2;
    text-align: center;
}

/* Formulário */
.formulario {
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px 0;
    border-radius: 5px;
}

.form input[type="text"] {
    padding: 10px;
    margin: 10px 0;
    background-color: #AAC1F2;
    border: none;
    border-radius: 5px;
    width: 50%;
    outline: none;
    font-size: 14px;
    color: #04153B;
}

.form .button, .form .submit {
    background-color: #2156c7;
    padding: 10px 20px;
    color: #AAC1F2;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    margin-top: 20px;
    transition: background-color 0.3s;
}

.form .button:hover, .form .submit:hover {
    background-color: #AAC1F2;
    color: #2156c7;
}

/* Botões */
.divbot {
    text-align: center;
    margin-top: 30px;
}

/* Textos */
h2 {
    font-size: 35px;
    font-weight: 200;
    color: #AAC1F2;
    text-align: center;
    margin: 15px;
}

.texto-centrado {
    font-size: 14px;
    color: #AAC1F2;
    text-align: center;
}
