body{
    background-color: #AAC1F2;
    font-family: 'Quicksand', sans-serif;
}

.box {
    width: 330px;
    position: absolute;
    top: 50%;
    left: 50%;
}

.formulario{
    width: 80%;
	top: 60px;
    position: absolute;
	right: -5px;
	padding: 15px 15px 15px 30px;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #AAC1F2;
    border-radius: 5px;
    background-color: #04153B;
}

.primeiroh1 {
    color: #04153B;
    font-weight: bold;
    font-size: 35px; 
    text-align: center;
    margin-top: 25px;
  }

.explicacaop {
    color: #AAC1F2;
    font-size: 25px;  
    text-align: justify;
    margin-right: 25px;
    margin-left: 25px;
}

.idadep{
    color: #AAC1F2;
    font-size: 25px; 
    margin-left: 25px;
}

.idadel{
    color: #AAC1F2;
    font-size: 20px; 
    margin-left: 70px;
}

.sexo{
    color: #AAC1F2;
    font-size: 25px; 
    margin-left: 25px;

}

.sexol{
    color: #AAC1F2;
    font-size: 20px; 
    margin-left: 50px;
}

.pergunta{
    color: #AAC1F2;
    font-size: 26px; 
    margin-left: 25px;
}

.opcao{
    color: #AAC1F2;
    font-size: 25px; 
    margin-left: 50px;
}

.explicacao10{
    font-family: 'Inter', sans-serif;
    color: #AAC1F2;
    font-size: 25px; 
    margin-right: 25px;
    margin-left: 25px; 
}

.divbot{
    text-align: right;
    margin-top: 30px;
}

#botao{
    background-color: #04153b; 
    color: white;
    margin-right: 50px;
}


.header {
    background-color: #04153B;
    align-self: stretch;
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-end;
    text-align: center;
    justify-content: center;
    padding: 15px 80px;
    font: 400 35px Inter, sans-serif;
  }
