@import url('https://fonts.cdnfonts.com/css/nunito');

.header {
    width: 100%;
    background-color: #AAC1F2;
    text-align: center;
    padding: 20px 0;
    font-size: 35px;
    font-weight: 400;
    color: #AAC1F2;
}

body {
    background-color: #04153B;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

.logo {
    aspect-ratio: 1.68;
    object-fit: contain;
    object-position: center;
    width: 300px;
    margin: 10px;
    max-width: 100%;
}

.titulo {
    font-family: 'Nunito', sans-serif;
    color: #AAC1F2;
    font-weight: bold;
    font-size: 35px;
    text-align: center;
    margin-top: 25px;
}

.box {
    width: 100%;
    max-width: 700px;
    margin: 10px;
    padding: 20px;
    background-color: #AAC1F2;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #04153B;
    text-align: center;
}

.pergunta {
    font-family: 'Nunito', sans-serif;
    color: #04153B;
    font-size: 18px;
    margin-left: 25px;
    justify-content: center;
    text-align: center;
}

.resposta {
    font-family: 'Nunito', sans-serif;
    color: #04153B;
    font-size: 18px;
}

#caixatexto {
    border-radius: 20px;
    padding: 8px;
    border: 1px solid #04153B;
    font-size: 12px;
}

.divbot {
    justify-content: center;
    text-align: center;
    margin-top: 30px;
}

#botao {
    background-color: #04153b;
    color: #AAC1F2;
}