<!DOCTYPE html>
<html lang="pt-br">
    
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Questionário Infância</title>
</head>

<body>
    <h1>Teste em relação à INFÂNCIA</h1>

    <form action="#" method="POST">

        <p>Por favor, indique a sua idade</p>
        Idade:<input type="text" name="idade"><br>

        <p> Por favor, indique seu sexo </p>

        <label>
            <input type="checkbox" name="sexo" value="1">
            Masculino
        </label><br>

        <label>
            <input type="checkbox" name="sexo" value="1">
            Feminino
        </label><br>

        <p>
            Este questionário foi concebido para avaliar o seu grau de suscetibilidade ao enjoo de movimento, e quais os
            tipos de movimento mais suscetíveis de causar esse enjoo. Enjoo, neste contexto, significa sentir-se enjoado
            ou nauseado ou realmente vomitar.<br>
            <b>Apenas a sua experiência de INFÂNCIA (antes dos 12 anos de idade)</b>, para cada um dos seguintes tipos
            de transporte ou entretenimento, indique: <b>Quando CRIANÇA (antes dos 12 anos)</b>, com que frequência se
            sentiu enjoado ou nauseado em relação a:
        </p>

        <!-- Pergunta 1 -->
        <div class="pergunta">
            <p>1. Carros </p>
            <label>
                <input type="checkbox" name="intensidadeEnjoo" value="1">
                Não aplicável
            </label><br>

            <label>
                <input type="checkbox" name="intensidadeEnjoo" value="2">
                Nunca sentiu enjoos
            </label><br>

            <label>
                <input type="checkbox" name="intensidadeEnjoo" value="3">
                Raramente sentiu enjoos
            </label><br>

            <label>
                <input type="checkbox" name="intensidadeEnjoo" value="4">
                Algumas vezes sentiu enjoos
            </label><br>

            <label></label>
            <input type="checkbox" name="intensidadeEnjoo" value="5">
            Frequentemente sentiu enjoos
            </label><br>
        </div>

        <!-- Pergunta 2 -->
        <div class="pergunta">
            <p>2. Autocarros </p>
            <label>
                <input type="checkbox" name="intensidadeEnjoo" value="1">
                Não aplicável
            </label><br>

            <label>
                <input type="checkbox" name="intensidadeEnjoo" value="2">
                Nunca sentiu enjoos
            </label><br>

            <label>
                <input type="checkbox" name="intensidadeEnjoo" value="3">
                Raramente sentiu enjoos
            </label><br>

            <label>
                <input type="checkbox" name="intensidadeEnjoo" value="4">
                Algumas vezes sentiu enjoos
            </label><br>

            <label></label>
            <input type="checkbox" name="intensidadeEnjoo" value="5">
            Frequentemente sentiu enjoos
            </label><br>
        </div>

        <!-- Pergunta 3 -->
        <div class="pergunta">
            <p>3. Comboios </p>
            <label>
                <input type="checkbox" name="intensidadeEnjoo" value="1">
                Não aplicável
            </label><br>

            <label>
                <input type="checkbox" name="intensidadeEnjoo" value="2">
                Nunca sentiu enjoos
            </label><br>

            <label>
                <input type="checkbox" name="intensidadeEnjoo" value="3">
                Raramente sentiu enjoos
            </label><br>

            <label>
                <input type="checkbox" name="intensidadeEnjoo" value="4">
                Algumas vezes sentiu enjoos
            </label><br>

            <label></label>
            <input type="checkbox" name="intensidadeEnjoo" value="5">
            Frequentemente sentiu enjoos
            </label><br>
        </div>

        <!-- Pergunta 4 -->
        <div class="pergunta">
            <p>4. Aviões </p>
            <label>
                <input type="checkbox" name="intensidadeEnjoo" value="1">
                Não aplicável
            </label><br>

            <label>
                <input type="checkbox" name="intensidadeEnjoo" value="2">
                Nunca sentiu enjoos
            </label><br>

            <label>
                <input type="checkbox" name="intensidadeEnjoo" value="3">
                Raramente sentiu enjoos
            </label><br>

            <label>
                <input type="checkbox" name="intensidadeEnjoo" value="4">
                Algumas vezes sentiu enjoos
            </label><br>

            <label></label>
            <input type="checkbox" name="intensidadeEnjoo" value="5">
            Frequentemente sentiu enjoos
            </label><br>
        </div>

        <!-- Pergunta 5 -->
        <div class="pergunta">
            <p>5. Embarcações pequenas </p>
            <label>
                <input type="checkbox" name="intensidadeEnjoo" value="1">
                Não aplicável
            </label><br>

            <label>
                <input type="checkbox" name="intensidadeEnjoo" value="2">
                Nunca sentiu enjoos
            </label><br>

            <label>
                <input type="checkbox" name="intensidadeEnjoo" value="3">
                Raramente sentiu enjoos
            </label><br>

            <label>
                <input type="checkbox" name="intensidadeEnjoo" value="4">
                Algumas vezes sentiu enjoos
            </label><br>

            <label></label>
            <input type="checkbox" name="intensidadeEnjoo" value="5">
            Frequentemente sentiu enjoos
            </label><br>
        </div>

        <!-- Pergunta 6 -->
        <div class="pergunta">
            <p>6. Navios, por exemplo, Ferries </p>
            <label>
                <input type="checkbox" name="intensidadeEnjoo" value="1">
                Não aplicável
            </label><br>

            <label>
                <input type="checkbox" name="intensidadeEnjoo" value="2">
                Nunca sentiu enjoos
            </label><br>

            <label>
                <input type="checkbox" name="intensidadeEnjoo" value="3">
                Raramente sentiu enjoos
            </label><br>

            <label>
                <input type="checkbox" name="intensidadeEnjoo" value="4">
                Algumas vezes sentiu enjoos
            </label><br>

            <label></label>
            <input type="checkbox" name="intensidadeEnjoo" value="5">
            Frequentemente sentiu enjoos
            </label><br>
        </div>

        <!-- Pergunta 7 -->
        <div class="pergunta">
            <p>7. Baloiços em parques infantis </p>
            <label>
                <input type="checkbox" name="intensidadeEnjoo" value="1">
                Não aplicável
            </label><br>

            <label>
                <input type="checkbox" name="intensidadeEnjoo" value="2">
                Nunca sentiu enjoos
            </label><br>

            <label>
                <input type="checkbox" name="intensidadeEnjoo" value="3">
                Raramente sentiu enjoos
            </label><br>

            <label>
                <input type="checkbox" name="intensidadeEnjoo" value="4">
                Algumas vezes sentiu enjoos
            </label><br>

            <label></label>
            <input type="checkbox" name="intensidadeEnjoo" value="5">
            Frequentemente sentiu enjoos
            </label><br>
        </div>

        <!-- Pergunta 8 -->
        <div class="pergunta">
            <p>8. Carroséis em parques infantis </p>
            <label>
                <input type="checkbox" name="intensidadeEnjoo" value="1">
                Não aplicável
            </label><br>

            <label>
                <input type="checkbox" name="intensidadeEnjoo" value="2">
                Nunca sentiu enjoos
            </label><br>

            <label>
                <input type="checkbox" name="intensidadeEnjoo" value="3">
                Raramente sentiu enjoos
            </label><br>

            <label>
                <input type="checkbox" name="intensidadeEnjoo" value="4">
                Algumas vezes sentiu enjoos
            </label><br>

            <label></label>
            <input type="checkbox" name="intensidadeEnjoo" value="5">
            Frequentemente sentiu enjoos
            </label><br>
        </div>

        <!-- Pergunta 9 -->
        <div class="pergunta">
            <p>9. Montanhas Russas, Diversões </p>
            <label>
                <input type="checkbox" name="intensidadeEnjoo" value="1">
                Não aplicável
            </label><br>

            <label>
                <input type="checkbox" name="intensidadeEnjoo" value="2">
                Nunca sentiu enjoos
            </label><br>

            <label>
                <input type="checkbox" name="intensidadeEnjoo" value="3">
                Raramente sentiu enjoos
            </label><br>

            <label>
                <input type="checkbox" name="intensidadeEnjoo" value="4">
                Algumas vezes sentiu enjoos
            </label><br>

            <label></label>
            <input type="checkbox" name="intensidadeEnjoo" value="5">
            Frequentemente sentiu enjoos
            </label><br>
        </div><br>

        <p><b>A sua experiência NOS ÚLTIMOS 10 ANOS (aproximadamente)</b>, para cada um dos seguintes tipos de
            transporte ou entretenimento, indique:</p><br>
        <p><b>Nos ÚLTIMOS 10 ANOS</b>, com que frequência se sentiu enjoado ou nauseado:</p>

        <!-- Pergunta 1 -->
        <div class="pergunta">
            <p>1. Carros </p>
            <label>
                <input type="checkbox" name="intensidadeEnjoo" value="1">
                Não aplicável
            </label><br>

            <label>
                <input type="checkbox" name="intensidadeEnjoo" value="2">
                Nunca sentiu enjoos
            </label><br>

            <label>
                <input type="checkbox" name="intensidadeEnjoo" value="3">
                Raramente sentiu enjoos
            </label><br>

            <label>
                <input type="checkbox" name="intensidadeEnjoo" value="4">
                Algumas vezes sentiu enjoos
            </label><br>

            <label></label>
            <input type="checkbox" name="intensidadeEnjoo" value="5">
            Frequentemente sentiu enjoos
            </label><br>
        </div>

        <!-- Pergunta 2 -->
        <div class="pergunta">
            <p>2. Autocarros </p>
            <label>
                <input type="checkbox" name="intensidadeEnjoo" value="1">
                Não aplicável
            </label><br>

            <label>
                <input type="checkbox" name="intensidadeEnjoo" value="2">
                Nunca sentiu enjoos
            </label><br>

            <label>
                <input type="checkbox" name="intensidadeEnjoo" value="3">
                Raramente sentiu enjoos
            </label><br>

            <label>
                <input type="checkbox" name="intensidadeEnjoo" value="4">
                Algumas vezes sentiu enjoos
            </label><br>

            <label></label>
            <input type="checkbox" name="intensidadeEnjoo" value="5">
            Frequentemente sentiu enjoos
            </label><br>
        </div>

        <!-- Pergunta 3 -->
        <div class="pergunta">
            <p>3. Comboios </p>
            <label>
                <input type="checkbox" name="intensidadeEnjoo" value="1">
                Não aplicável
            </label><br>

            <label>
                <input type="checkbox" name="intensidadeEnjoo" value="2">
                Nunca sentiu enjoos
            </label><br>

            <label>
                <input type="checkbox" name="intensidadeEnjoo" value="3">
                Raramente sentiu enjoos
            </label><br>

            <label>
                <input type="checkbox" name="intensidadeEnjoo" value="4">
                Algumas vezes sentiu enjoos
            </label><br>

            <label></label>
            <input type="checkbox" name="intensidadeEnjoo" value="5">
            Frequentemente sentiu enjoos
            </label><br>
        </div>

        <!-- Pergunta 4 -->
        <div class="pergunta">
            <p>4. Aviões </p>
            <label>
                <input type="checkbox" name="intensidadeEnjoo" value="1">
                Não aplicável
            </label><br>

            <label>
                <input type="checkbox" name="intensidadeEnjoo" value="2">
                Nunca sentiu enjoos
            </label><br>

            <label>
                <input type="checkbox" name="intensidadeEnjoo" value="3">
                Raramente sentiu enjoos
            </label><br>

            <label>
                <input type="checkbox" name="intensidadeEnjoo" value="4">
                Algumas vezes sentiu enjoos
            </label><br>

            <label></label>
            <input type="checkbox" name="intensidadeEnjoo" value="5">
            Frequentemente sentiu enjoos
            </label><br>
        </div>

        <!-- Pergunta 5 -->
        <div class="pergunta">
            <p>5. Embarcações pequenas </p>
            <label>
                <input type="checkbox" name="intensidadeEnjoo" value="1">
                Não aplicável
            </label><br>

            <label>
                <input type="checkbox" name="intensidadeEnjoo" value="2">
                Nunca sentiu enjoos
            </label><br>

            <label>
                <input type="checkbox" name="intensidadeEnjoo" value="3">
                Raramente sentiu enjoos
            </label><br>

            <label>
                <input type="checkbox" name="intensidadeEnjoo" value="4">
                Algumas vezes sentiu enjoos
            </label><br>

            <label></label>
            <input type="checkbox" name="intensidadeEnjoo" value="5">
            Frequentemente sentiu enjoos
            </label><br>
        </div>

        <!-- Pergunta 6 -->
        <div class="pergunta">
            <p>6. Navios, por exemplo, Ferries </p>
            <label>
                <input type="checkbox" name="intensidadeEnjoo" value="1">
                Não aplicável
            </label><br>

            <label>
                <input type="checkbox" name="intensidadeEnjoo" value="2">
                Nunca sentiu enjoos
            </label><br>

            <label>
                <input type="checkbox" name="intensidadeEnjoo" value="3">
                Raramente sentiu enjoos
            </label><br>

            <label>
                <input type="checkbox" name="intensidadeEnjoo" value="4">
                Algumas vezes sentiu enjoos
            </label><br>

            <label></label>
            <input type="checkbox" name="intensidadeEnjoo" value="5">
            Frequentemente sentiu enjoos
            </label><br>
        </div>

        <!-- Pergunta 7 -->
        <div class="pergunta">
            <p>7. Baloiços em parques infantis </p>
            <label>
                <input type="checkbox" name="intensidadeEnjoo" value="1">
                Não aplicável
            </label><br>

            <label>
                <input type="checkbox" name="intensidadeEnjoo" value="2">
                Nunca sentiu enjoos
            </label><br>

            <label>
                <input type="checkbox" name="intensidadeEnjoo" value="3">
                Raramente sentiu enjoos
            </label><br>

            <label>
                <input type="checkbox" name="intensidadeEnjoo" value="4">
                Algumas vezes sentiu enjoos
            </label><br>

            <label></label>
            <input type="checkbox" name="intensidadeEnjoo" value="5">
            Frequentemente sentiu enjoos
            </label><br>
        </div>

        <!-- Pergunta 8 -->
        <div class="pergunta">
            <p>8. Carroséis em parques infantis </p>
            <label>
                <input type="checkbox" name="intensidadeEnjoo" value="1">
                Não aplicável
            </label><br>

            <label>
                <input type="checkbox" name="intensidadeEnjoo" value="2">
                Nunca sentiu enjoos
            </label><br>

            <label>
                <input type="checkbox" name="intensidadeEnjoo" value="3">
                Raramente sentiu enjoos
            </label><br>

            <label>
                <input type="checkbox" name="intensidadeEnjoo" value="4">
                Algumas vezes sentiu enjoos
            </label><br>

            <label></label>
            <input type="checkbox" name="intensidadeEnjoo" value="5">
            Frequentemente sentiu enjoos
            </label><br>
        </div>

        <!-- Pergunta 9 -->
        <div class="pergunta">
            <p>9. Montanhas Russas, Diversões </p>
            <label>
                <input type="checkbox" name="intensidadeEnjoo" value="1">
                Não aplicável
            </label><br>

            <label>
                <input type="checkbox" name="intensidadeEnjoo" value="2">
                Nunca sentiu enjoos
            </label><br>

            <label>
                <input type="checkbox" name="intensidadeEnjoo" value="3">
                Raramente sentiu enjoos
            </label><br>

            <label>
                <input type="checkbox" name="intensidadeEnjoo" value="4">
                Algumas vezes sentiu enjoos
            </label><br>

            <label></label>
            <input type="checkbox" name="intensidadeEnjoo" value="5">
            Frequentemente sentiu enjoos
            </label><br>
        </div><br>

        <button type="submit">Enviar Respostas</button>

    </form>

</body>