.motion-test-container {
  background-color: #aac1f2;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  align-items: center;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Quicksand', sans-serif;
}

.header {
  background-color: #AAC1F2;
  align-self: stretch;
  display: flex;
  width: 100%;
  font-family: 'Quicksand', sans-serif;
  font-size: 14px;
  flex-direction: column;
  align-items: flex-end;
  color: #1c3875;
  text-align: center;
  justify-content: center;
  padding: 15px 80px;
}

.button .login, #botao {
  background-color: #2156c7;
  padding: 10px 20px;
  color: #AAC1F2;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  margin: 5px;
  transition: background-color 0.3s;
}

.button .login:hover, #botao:hover {
  background-color: #AAC1F2;
  color: #1c3875;
}

.topo, .h1 {
  align-items: center;
  justify-content: center;
  flex-direction: column;
  display: flex;
  background-color: #1c3875;
  width: 100%;
  color: #aac1f2;
  font-size: 18px;
  line-height: 1.5;
  font-family: 'Quicksand', sans-serif;
}

.logo {
  aspect-ratio: 1.68;
  object-fit: contain;
  object-position: center;
  width: 300px;
  margin: 10px;
  max-width: 100%;
}

.corpo {
  width: 100%;
    max-width: 700px;
    margin: 10px;
    padding: 20px;
    flex-direction: column;
    background-color: #04153B;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    color: #AAC1F2;
    text-align: center;
    font-family: 'Quicksand', sans-serif;
}

.section-title, .ideator-title, .objective-title {
  margin: 10px;
  font-size: 16px;
  border: 1px solid transparent;
}

.section-description, .ideator-description, .objective-description {
  font-size: 14px;
}

.team-section {
  background-color: #1c3875;
  align-self: stretch;
  display: flex;
  margin-top: 15px;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 82px 80px;
}

.team-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.team-title {
  color: #AAC1F2;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  text-align: center;
  align-self: center;
  margin-left: 2px;
  border: 1px solid transparent;
}

.team-members {
  display: flex;
  margin-top: 20px;
}

.member-row {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 20px;
}

.member-col {
  display: flex;
  flex-direction: column;
  line-height: normal;
}

.member-avatar {
  background-color: #04153b;
  border-radius: 50%;
  width: 130px;
  height: 130px;
  margin: 0 auto;
}

.member-name {
  color: #fff;
  text-align: center;
  margin-top: 10px;
  font: 400 20px Inter, sans-serif;
}

.logo-ufcspa {
  width: 150px;
  height: auto;
  margin: 0 auto;
}

.project-description {
  color: #AAC1F2;
  text-align: center;
  margin-top: 20px;
  font-size: 14px;
}

.footer {
  background-color: #AAC1F2;
  align-self: stretch;
  display: flex;
  min-height: 148px;
  width: 100%;
}

@media (max-width: 991px) {
  .header {
    max-width: 100%;
    padding-left: 20px;
  }

  .login-btn {
    padding-left: 20px;
  }

  .logo {
    margin-top: 40px;
  }

  .main-title {
    max-width: 100%;
    margin-top: 40px;
    font-size: 40px;
  }

  .start-btn {
    margin-top: 40px;
    padding: 0 20px;
  }

  .section-title {
    max-width: 100%;
    margin-top: 40px;
    font-size: 40px;
  }

  .section-description {
    max-width: 100%;
  }

  .ideator-title {
    max-width: 100%;
    margin-top: 40px;
    font-size: 40px;
  }

  .ideator-description {
    max-width: 100%;
  }

  .objective-title {
    max-width: 100%;
    margin-top: 40px;
    font-size: 40px;
  }

  .objective-description {
    max-width: 100%;
  }

  .team-section {
    max-width: 100%;
    margin-top: 40px;
    padding: 0 20px;
  }

  .team-members {
    max-width: 100%;
    margin-top: 40px;
  }

  .member-row {
    flex-direction: column;
    align-items: stretch;
    gap: 0;
  }

  .member-col {
    width: 100%;
  }

  .member-avatar {
    margin-top: 27px;
  }

  .member-name {
    margin-top: 40px;
  }

  .project-description {
    max-width: 100%;
    margin-top: 40px;
  }

  .footer {
    max-width: 100%;
  }
}