@import url('https://fonts.cdnfonts.com/css/nunito');

body{
    background-color: #AAC1F2;
    overflow-x: hidden; /* Evita rolagem horizontal */
    overflow-y: auto;   /* Permite rolagem vertical */

 
  height: 100vh;
}

.titulo{
    font-family: 'Nunito', sans-serif;
    color: #04153B;
    font-weight: bold;
    font-size: 35px; 
    text-align: center;
    margin-top: 25px;
}

.linha{
    background-color: white;
    height: 1px;
}
.pergunta{
    font-family: 'Nunito', sans-serif;
    color: #04153B;
    font-size: 20px; 
    margin-left: 25px;
}

.resposta{
    font-family: 'Nunito', sans-serif;
    color: #04153B;
    font-size: 20px; 
    margin-left: 70px;
}

#caixatexto    {
    border-radius: 20px;
    padding: 8px;
    border: 1px solid #ccc;
    font-size: 12px;
}

.divbot{
    text-align: right;
    margin-top: 30px;
}

#botao{
    background-color: #04153b; 
    color: white;
    margin-right: 50px;
}

.header {

    
    background-color: #04153b;
    align-items: flex-end;
    color: #fff;
    text-align: center;
    justify-content: center;
    padding: 15px 80px;
    font-family: 'Nunito', sans-serif;
    
  }

  .footer {
    background-color: #04153b;
    align-self: stretch;
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-end;
    color: #fff;
    text-align: center;
    justify-content: center;
    padding: 15px 80px;
    font: 400 35px Inter, sans-serif;
    margin-top: auto; /* Empurra o rodapé para o final da página */
  }

  #credencial{
    display: none;
  }
  
  .content {
    padding-left: 20px;
    padding-right: 20px;
}

.geral{

   background-color: #d2e8ff;
   padding-left: 20px;
   padding-right: 20px;
   
   font-family: 'Nunito', sans-serif;
   
}

.teste{
    
    font-family: 'Nunito', sans-serif;
    
}

.table-responsive{

    font-family: 'Nunito', sans-serif;
}
    
.footer {
    
    bottom: 0;
    left: 0;
    width: 100%; /* Faz o rodapé ocupar toda a largura */
    background-color: #04153b;
    color: white;
    text-align: center;
    padding: 15px;
}

#graficoBarras {
        width: 2px;   /* Largura do gráfico */
        height: 1px;  /* Altura do gráfico */
}

.testegráfico {
        width: 2000px;   /* Largura da div */
        height: 250px;  /* Altura da div */
        /* Opcional: Definir um borda ou outro estilo para a div */
        border: 1px solid #ccc;
}

#graficoBarras2 {
    width: 2px;   /* Largura do gráfico */
    height: 1px;  /* Altura do gráfico */
}

.testegráfico2 {
    width: 2000px;   /* Largura da div */
    height: 250px;  /* Altura da div */
    /* Opcional: Definir um borda ou outro estilo para a div */
    border: 1px solid #ccc;
}

.quadro {
    width:2000px;   /* Largura da div */
    height: 250px;  /* Altura da div */
    /* Opcional: Definir um borda ou outro estilo para a div */
    border: 1px solid #ccc;
}

#graficoBarras3 {
    width: 100%;  /* Ajuste a largura do canvas para 100% da div pai */
    height: 100%; /* Ajuste a altura do canvas para 100% da div pai */
}

#graficoBarras4 {
    width: 100%;  /* Ajuste a largura do canvas para 100% da div pai */
    height: 100%; /* Ajuste a altura do canvas para 100% da div pai */
}

.testegráfico4 {
    width: 2000px;   /* Largura da div */
    height: 250px;  /* Altura da div */
    /* Opcional: Definir um borda ou outro estilo para a div */
    border: 1px solid #ccc;
}
}

  
